<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="en-GB" />
        <meta name="author" content="Carlos Ríos V. (aka crosvera)" />
        <meta name="abstract" content="Crosvera's blog." />
        <meta name="description" content="This is my blog, crosvera's blog." />
        <meta name="keywords" content="floss, programming, crosvera, github, linux, crosvera blog" />
        <meta name="distribution" content="global" />
        <meta name="revisit-after" content="1 days" />    
        <meta name="copyright" content="All content (c) Carlos Ríos V. (aka crosvera)" />
    
        <title>The crosvera's blog</title>
    
        <style type="text/css" title="The shiny, Web 2.0 version of 'Simplicity,' a pseudo-professional style-sheet." media="all">
            @import "layout/simplicity-two-oh-three.css";
        </style>
        <!--[if IE]>
        <style type="text/css" media="all">
            @import "layout/ie-diff.css";
        </style> 
        <![endif]-->

        <link rel="stylesheet" type="text/css" href="layout/print.css" media="print" />
        <link rel="shortcut icon" href="http://wherever-your-favicon-is.org/favicon.png"  />
        <link rel="icon" href="http://wherever-your-favicon-is.org/favicon.png" />
    </head>

    <body>
    
        <div id="window">
            <div id="container">
                <div id="navigation">
                    <ul>
                        <!-- The link you call "active" will show up as a darker tab -->
                        <!--[if IE 6]><li></li><![endif]-->
                        <li><a href="index.html">About me</a></li>
                        <li class="active"><span>Journal</span></li>
                        <li><a href="index.html">Projects</a></li>
                        <li><a href="index.html">Feeds</a></li>
                    </ul>
                </div>

                <div id="main">
                    <div id="outer-prettification">
                        <div id="inner-prettification">
          
                            <div id="header">
                                <h1 id="title"><a href="index.html">{{ page.title }}</a></h1>
                            </div>

                            <div id="contents">
                                {{ content }}
                            </div>

                            <div id="footer">
                                <p><a href="http://www-personal.umich.edu/~hnarayan/" title="Perhaps link to your copyright notice?">v2.0.3 &copy; HN MMVII</a></p>
                                <!-- You can do whatever you like here -->
                            </div>
          
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>
